/* GLOBALS */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: black;
}

/*
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
  url('fonts/open-sans-condensed-v12-latin-300.woff') format('woff'); --Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}
*/

#logo {
  height: 50px;
}

.footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.back-to {
  margin: 20px 0 0 10px;
}

img.logo-login {
  margin-left: 9px;
}

.messages {
  padding: 0;
}

.alert {
  list-style-type: none;
}


/* INDEX */

#top-jumbotron {
  background-image: url("../images/2.jpg");
  background-size: cover;
}

.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
}

/* Course Details */

.main-courseDetails {
  height: 100%;
}

.container-courseDetails {
  background-color: grey;
  height: 300px;
  padding: 30px 80px;

  display: flex;
}

.one-info {
  padding: 0 40px;
  color: white;

  display: flex;
  flex-direction: column;
}

.h2-courseDetails {
  display: inline-block;
}

/* .title-right {
  float: right;
  font-size: 1em;

} */

/* .title-line {
  height: 100px;
  margin-top: 10px;
} */

.image-courseDetails {
  /* height: 100%; */
  max-width: 400px;
  border-radius: 0;
}

/* .container {
  width: 100%;
} */

.lesson-title-right {
  float: right;
}


/* Dashboard */

.container-dashboard {
  background-color: grey;
  max-height: 300px;
  padding: 30px 80px;

}


/* Login and sing up*/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

/* Mod-forms */

/* Mod-forms */

.padded-container {
  padding: 30px 80px;
}

.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
