<%- include('../partials/header') %>

<div class="padded-container">
	<h2>Create New Course</h2>

	<form method="post" action="/instructors/createCourse">
		<div>
			<input class="form-control" type="text" name="title" placeholder="title" required>
		</div>
		<div>
			<textarea class="form-control" name="description" placeholder="course description..." required></textarea>
		</div>
		<div>
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Create Course">
		</div>
	</form>
</div>

<%- include('../partials/footer') %>
