<%- include('../partials/header') %>

<div class="padded-container">
	<h2>Add Lesson</h2>
	<form method="post" action="/instructors/<%= courseId %>/createLesson">
		<div>
			<label>Lesson Number: </label>
			<input class="form-control" type="text" name="lesson_number" required>
		</div><br />
		<div>
			<label>Lesson Title: </label>
			<input class="form-control" type="text" name="lesson_title" required>
		</div><br />
		<div>
			<label>Lesson Body: </label>
			<textarea class="form-control" name="lesson_body" required></textarea>
		</div><br />
		<div>
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Add Lesson">
		</div>
	</form>
</div>

<%- include('../partials/footer') %>
